.form-container {
  background-image: url("./formbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  padding: 20px 10px;
  width: 300px;
  box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.3);
  font-family: 'Poppins', sans-serif;
}

.form-header {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin: 0px;
  padding-bottom: 5px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.form-prompt {
  color: #d1d1d1;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

.inputs {
  text-align: center;
  padding-bottom: 10px;
}
.inputs input {
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.button-container {
  width: 100%;
  height: 40px;
}

.description-btn {
  background: rgb(83, 83, 83);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
  width: 80px;
  height: 30px;
  margin: auto;
  border: 1px solid #c1c1c1;
  border-radius: 50px 50px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-items: center;
}

.shine {
  background: linear-gradient(
    to right,
    rgba(255,255,255,0.2), rgba(255,255,255,0.5)
  );
  position: absolute;
  top: -35px;
  left: -65px;
  width: 50px;
  transform: rotateZ(-45deg);
  height: 100px;
  transition: left 0s;
}

.description-btn:hover > .shine {
  left: 150px;
  transition: left ease-in-out 400ms;
}